@model IEnumerable<Product>
<body style="/*background-image: url('https://wallpapers.com/images/hd/blue-best-buy-store-j8w2xhivvcwjaox5.jpg');*/ background-repeat:no-repeat; height: 100%vh; background-color:#0a4abf">
<h2 style="color:white;">Products</h2>

   <div style="display: block;">
     <a style=" text-decoration: none; color: white;" href="/Product/InsertProduct/">Create a New Product</a>
 </div>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

        @foreach (var product in @Model)
        {
            <tr>
                <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CategoryID</td>
                <td>@product.OnSale</td>
                <td>@product.StockLevel</td>
            </tr>
        }

</table>
</body>